<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>MainWindow</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link type="text/css" rel="stylesheet" href="../../lib/materialize/materialize.min.css" media="screen,projection" />
   <script>
      window.nodeRequire = require;
      delete window.exports;
      delete window.module;
   </script>
   <style>
      * {
         font-family: "微软雅黑";
      }
   </style>
</head>

<body>
   <div id="app">
      <nav>
         <div class="nav-wrapper">
            <a class="brand-logo center">七牛云</a>
         </div>
      </nav>
      <form action="#">
         <div class="file-field input-field">
            <div class="btn">
               <span>File</span>
               <input type="file" @change="fileChange($event)">
            </div>
            <div class="file-path-wrapper">
               <input class="file-path validate" type="text" v-model="text" placeholder="点击选取文件">
            </div>
            <div></div>
         </div>
      </form>
      <div :class="{progress: isActive}">
         <div class="indeterminate"></div>
      </div>
      <ul class="collection">
         <li class="collection-item">{{reslutURL}} </li>
      </ul>
      <a class="waves-effect waves-light btn right collection" @click="copy()">
          <i class="material-icons right">content_copy</i>复制
      </a>
   </div>
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   <script type="text/javascript" src="../../lib/materialize/materialize.min.js"></script>
   <script src="../../lib/vue.js"></script>
   <script src="./mainWindow.js"></script>
</body>

</html>